<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Game</title>
    <meta charset="UTF-8" />
</head>

<body>
    <h1>Edit existing games</h1>

    <form action="#" th:action="@{/updateGame}" th:object="${editGame}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" />
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
        </div>

        <div>
            <label>Developer</label>
            <input type="text" th:field="*{developer}" />
            <div th:if="${#fields.hasErrors('developer')}" th:errors="*{developer}">Error</div>
        </div>

        <div>
            <label>Release Date</label>

            <select th:field="*{releaseDate}">
                <option value="">-- Valitse vuosi --</option>

                <option th:each="year: ${years}" th:value="${year}" th:text="${year}"></option>
            </select>

            <div th:if="${#fields.hasErrors('releaseDate')}" th:errors="*{releaseDate}">Error</div>
        </div>

        <div>
            <label>Price</label>
            <input type="number" step="0.01" th:field="*{price}" />
            <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
        </div>

        <label>Genre</label>
        <select th:field="*{genre}">
            <option th:each="genre: ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
        </select>

        <button type="submit">Update</button>
    </form>

    <a href="/games">Home</a>
</body>


</html>